* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: url('https://img.freepik.com/free-photo/photorealistic-style-clouds_23-2151058943.jpg?t=st=1719597820~exp=1719601420~hmac=6e813a988995b95eace8c67dde37e50cfc17c0157f96bff08f94ef11b55c5813&w=1060') no-repeat center center fixed; 
  background-size: cover;
}

.card {
  width: 90%;
  max-width: 600px; /* Increased the max width */
  background: rgba(0, 123, 255, 0.8); /* Bluish background with 80% opacity */
  color: #fff; /* Change text color to white for better contrast */
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  opacity: 0.8; /* Slightly transparent card div */
}

.heading {
  font-size: 32px;
  font-weight: bold;
  font-style: inherit;
  margin-bottom: 20px;
  color: pink;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
  color: #000; /* Text color to black for better contrast */
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: block;
  color: #ff0000; /* Red color for error message */
}
